---
layout: archive
title: "Projects & Implementations💡"
permalink: /portfolio/
author_profile: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Example</title>
    <style>
        .align-right {
            float: right;
        }
    </style>
</head>
<body>
    <img src="_pages/image.jpg" alt="portfoli" class="align-right" style="width: 1111px;">
</body>
</html>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

